body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER */
.header-section {
  background-color: #0a0c41;
  color: #fff;
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-section h1{
  font-size: 2.5rem;
  padding: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #0a0c41;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 20px;
  font-size: 1rem;
}
button:hover {
  color: #969597;
  transition: color 0.1s ease; 
  transform: scale(1.03);
  cursor: pointer;
}


/* INTRO */
.intro-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.intro-text {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
}
.intro-text p {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 10px;
}
.video {
  width: 50vw;
  border:#0a0c41 0.2px solid;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top:30px;
}

.link-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}
.data-icon {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}
.github-icon {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}

.paper-icon {
  width: 50px;
  height: 50px;
}

/* DATASET */
.dataset-section {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.dataset-section h1 {
  font-size: 1.75rem;
}
.metadata {
  width: 50vw;
  text-align: left;
  font-size: 1.1rem;
}
.metadata h2 {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.examples {
  width: 50vw;
  text-align: left;
  font-size: 1.1rem;
  margin-top: 40px;
}
.examples h2{
  font-size: 1.4rem;
  margin-bottom: 40px;
}

.process {
  width: 50vw;
  text-align: left;
  font-size: 1.1rem;
  margin-top: 40px;
}
.process h2{
  font-size: 1.4rem;
  margin-bottom: 40px;
}
.process-image-container{
  display: flex;
  justify-content: center;
}

/* Images in Dataset */
.dataset-section .image {
  display: block;
  margin: auto;
}
.dataset-section .instclass-image {
  width: 37%;
}
.dataset-section .moodclass-image{
  width: 37%;
  padding-top:20px;
}
.dataset-section .trackcategory-image{
  width: 75%;
  padding-top: 20px;
}
.dataset-section .ccheatmap-image{
  width: 90%;
  padding-top: 20px;
}
.dataset-section .process-image{
  width: 120%;
  margin-bottom: 80px;
}

.metadata div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.examples div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process div {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* RESULTS */
.results-section {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.results-section h1 {
  font-size: 1.75rem;
  margin-bottom: 40px;
}
.results-section p {
  max-width: 60vw;
  align-self: center;
  padding-bottom: 20px;
}
.results-text {
  width: 50vw;
  text-align: left;
}


/* INSTRUMENT DISPLAY */
.instrument-display {
  max-width: 70vw;
  margin: auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 50px;
}

.instrument-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 40px; 
}

.instrument-content {
  display: flex; 
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex: 1; 
  padding: 10px; 
  width: 48%;
  box-sizing: border-box;
}

.label {
  text-align: center; 
  font-weight: bold;
  margin-bottom: 20px;
}

.instrument-display .image {
  width: 85%; 
  height: auto; 
  margin-bottom: 20px; 
}

.instrument-display .spectrogram {
  width: 100%; 
  height: auto; 
  margin-bottom: 20px; 
  margin-left: -50px;
}

.audio-player {
  width: 100%; 
  max-width: 100%;
}





/*EXAMPLE TABLE */
.music-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.music-table thead tr {
  background-color: #0a0c41;
  color: #ffffff;
  text-align: left;
}

.music-table th, td {
  padding: 12px 15px;
}

.music-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.music-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.music-table tbody tr:last-of-type {
  border-bottom: 2px solid #0a0c41;
}

.music-table tbody tr.active-row {
  font-weight: bold;
  color: #0a0c41;
}

.music-table tbody tr td[colspan="5"] {
  text-align: center;
}



/* STICKY NAV */
.sticky-nav {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 3; 
}

.sticky-nav button {
  margin-bottom: 10px;
  background-color: #fff;
  color: #0a0c41;
  border: none;
  margin-left: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 0.85rem;
}

.sticky-nav button:hover {
  color: #040416;
  transition: color 0.1s ease; 
  transform: scale(1.03);
  cursor: pointer;
}

@media (max-width: 768px) {
  .sticky-nav {
    display: none; 
  }
}